* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: silver;
    border: blue dotted 5px;
    padding:5px;
    text-align: center;
}

#weatherstats {
    border: gold solid
}



h1 {
    font-weight: 200;
}

#forecast {
    text-decoration: none;
    list-style: none;
    text-align: center;
    display:flex;
    justify-content: end;
    margin:5px;
    padding: 5px;
}

